// Pagination

.tp-pagination {
    justify-content: center;

    > li {
        padding: spacer(0.5);
    }

    &__first a::before {
        content: '\00AB' '\00A0';
    }

    &__last a::after {
        content: '\00A0' '\00BB';
    }

    &__current > a {
        color: map-fetch($color, text, base);
    }
}
