// Icons

.tp-icon {
    width: map-fetch($icon, size, base, width);
    height: map-fetch($icon, size, base, height);
    display: inline-block;
    fill: currentColor;

    &--small {
        width: map-fetch($icon, size, small, width);
        height: map-fetch($icon, size, small, height);
    }

    &--medium {
        width: map-fetch($icon, size, medium, width);
        height: map-fetch($icon, size, medium, height);
    }

    &--large {
        width: map-fetch($icon, size, large, width);
        height: map-fetch($icon, size, large, height);
    }

    // This is a vertical alignment fix when used to the right of `.tp-icon`.
    + [class^='tp--arrow-inline'] {
        vertical-align: super;
    }

    &--text-align {
        position: relative;
        top: 2px; // This moves the inline icon down so it is visually aligned with the text.
    }
}

/// Icon alignment fixes
/// @description Fix for icons inside buttons with text and icons inside tabs.

.tp-button .tp-icon {
    vertical-align: sub;
}

.tp-tabs-nav__item .tp-icon {
    vertical-align: sub;
}
