// Button Row

%tp-button-row,
.tp-button-row,
.oui-button-row {
    
    &--left {
        .tp-button,
        .oui-button {
            margin-right: spacer(1);

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &--right {
        text-align: right;

        .tp-button,
        .oui-button {
            margin-left: spacer(1);

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &--center {
        text-align: center;

        .tp-button,
        .oui-button {
            margin-left: spacer(0.5);
            margin-right: spacer(0.5);
        }
    }
}
