///
// Array
// Create a row of any number of items at equal height and width.
///

%tp-array,
.tp-array {
    display: flex;

    &__item {
        flex: 1;
        margin-left: spacer(1);
        margin-right: spacer(1);

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
