// Attention

%tp-attention,
.tp-attention {
    @include last-child-no-margin;
    padding: spacer(1);
    border-radius: map-fetch($border, radius, base);
    border: 1px solid map-fetch($border, color, base);
    background: map-fetch($color, background, faint);

    &--brand {
        border-color: map-fetch($color, ui, brand-light);
        background-color: map-fetch($color, background, brand-light);
    }

    &--warning {
        border-color: map-fetch($color, ui, warning);
        background-color: map-fetch($color, background, warning);
    }

    &--good-news {
        border-color: map-fetch($color, ui, good-news);
        background-color: map-fetch($color, background, good-news);
    }

    &--bad-news {
        border-color: map-fetch($color, ui, bad-news);
        background-color: map-fetch($color, background, bad-news);
    }

    &__close {
        float: right;
        margin-left: spacer(1);
        cursor: pointer;
    }
}
